.search__container {
    display: block;
}

.search__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 50rem;
    height: 5rem;
}

.search__input {
    display: block;
    flex: 4 1 0;
    
    padding: 2rem;

    border-style: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    background-color: white;
    color: black;

    font-size: 1.5rem;

    -webkit-box-shadow: 0px 15px 0px 0px rgba(207,207,207,1);
    -moz-box-shadow: 0px 15px 0px 0px rgba(207,207,207,1);
    box-shadow: 0px 15px 0px 0px rgba(207,207,207,1);
}

.search__input:focus{
    outline: none !important;
}

.search__button {
    display: block;
    flex: 1 1 0;

    border-style: none;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    background-color: darkorange;
    color: white;

    font-size: 1.5em;

    -webkit-box-shadow: 0px 15px 0px 0px rgba(255,94,0,1);
    -moz-box-shadow: 0px 15px 0px 0px rgba(255,94,0,1);
    box-shadow: 0px 15px 0px 0px rgba(255,94,0,1);
}

.search__button:hover {
    background-color: orange;
    cursor: pointer;
}

.search__button:active {
    background-color: darkorange;

    transform: translateY(7px);

    -webkit-box-shadow: 0px 8px 0px 0px rgba(255,94,0,1);
    -moz-box-shadow: 0px 8px 0px 0px rgba(255,94,0,1);
    box-shadow: 0px 8px 0px 0px rgba(255,94,0,1);
}